<!--<div class="hardwareDiv">
    <h2>List of hardware</h2>
    <ul class="hardware">
    <li *ngFor="let selectedHardware of hardware"
    (click)="onSelect(selectedHardware)"
    [class.selected]="selectedHardware === selectedHardware">
    <span class="badge">{{selectedHardware.name}}</span> 
    </li>
    </ul>

    <app-hardware-details [hardware]="selectedHardware"></app-hardware-details>
</div>-->

<ul class="hardware">
    <!--<li *ngFor="let selectedHardware of hardware"
    (click)="onSelect(selectedHardware)"
    [class.selected]="selectedHardware === selectedHardware">
    <span class="badge">{{selectedHardware.name}}</span> 
    </li>-->
    <li *ngFor="let selectedHardware of hardware" [class.selected]="selectedHardware === selectedHardware" 
    (click)="showDetails(selectedHardware.code)" >
        <a [routerLink]="['/hardware/', selectedHardware.code]"><img src="assets\img\icon.jpg"/>{{selectedHardware.name}}</a>
    </li>
</ul>

<app-hardware-details
      [viewMode]="true"
      [hardware]="selectedHardware"
    ></app-hardware-details>

<app-hardware-add></app-hardware-add>
